@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

:root {
    --cor0: #7D3113;
    --cor1: #330E00;
    --cor2: #170600;
    --cor3: #E6E4DE;
    --cor4: #335145;
    --cor5: #EC9419;
    --cor6: #BF3100;
}

body {
    background-image: url(imagens/imagem1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-image: linear-gradient(to bottom, var(--cor2), var(--cor1));;
    min-height: 150px;
    text-align: center;
    padding-top: 40px;
}

header > h1 {
    color: var(--cor3);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 3em;
    font-weight: normal;
    margin-bottom: 20px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.267);
}

nav {
    background-color: var(--cor1);
    padding: 10px;
    box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.192);
}

nav > p {
    color: var(--cor3);
}

nav > a {
    color: var(--cor0);
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    transition-duration: 0.5s;
}

nav > a:hover {
    background-color: var(--cor0);
    color: var(--cor1);
}

main {
    min-width: 300px;
    max-width: 900px;
    margin: auto;
    margin-bottom: 30px;
    padding: 20px;
    background-color: var(--cor3);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.418);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px; /*border-radius: 0px 0px 10px 10px;*/
}

main h1 {
    color: var(--cor6);
    font-weight: normal;
    font-size: 1.8em;
}

main h2 {
    color: var(--cor5);
    font-size: 1.3em;
    font-weight: normal;
    text-indent: 8px;
}

main p {
    margin: 15px 0px;
    text-align: justify;
    text-indent: 30px;
    font-size: 1em;
    line-height: 2em;
}

main a {
    color: var(--cor0);
    display: flex;
    justify-content: flex-end;
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    transition-duration: 0.5s;
}

main > a:hover {
    text-decoration: underline;
}

main .destaque {
    color: black;
    font-weight: normal;
    padding: 10px;
    text-decoration: none;
    transition-duration: 0.5s;
}

.destaque:hover {
    text-decoration: underline;
}

aside {
    background-color: #436e5e;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.281);
}

aside > h1 {
    background-color: #3e5c50;
    color: var(--cor3);
    padding: 10px;
    margin: -10px -10px 0px -10px;
    border-radius: 10px 10px 0px 0px;
}


img {
    max-width: 100%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
    padding-bottom: 20px;
}

div.video {
    background-color: var(--cor4);
    margin: 0px -20px 30px -20px;
    padding: 30px;
    padding-bottom: 56%;
    position: relative;
}

div.video > iframe {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 85%;
    height: 85%;
    transform: translate(-50%, -50%);
}

.rodape {
    background-color: var(--cor2);
    color: var(--cor3);
    text-align: center;
    font-size: 0.8em;
    padding: 10px;
}

footer a {
    color: var(--cor6);
    font-weight: bold;
    text-decoration: none;
}